.collapsible-section {
    .collapsible-header {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items:flex-start;
      cursor: pointer;
    }
  
    .collapsible-content {
      padding: 10px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  
      &.open {
        max-height: 1000px;
        padding: 10px;
      }
    }
}
