div.form-container {
    padding: 0;

    form {
        @include form-layout;

        .form-input {
            @include flex-column;

            input {
                padding: 10px;
                border: none;
                border-radius: 5px;
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
        @include full-width;
    }
}

.card-content {
    @include card-content;
}

.delete-button {
    margin-top: 10px;
    @include full-width;
}
