.auth-container {
  @include flex-center;
  min-height: 100vh;
  @include background-image('../../assets/images/background-image.png');
  @include text-white;
  font-family: Arial, sans-serif;

  .form-container {
    @include section-padding(40px);
    @include container-max-width(400px);

    h1 {
      margin-bottom: 20px;
      font-size: 1.5rem;
    }

    p {
      margin-bottom: 20px;
      color: #ccc;
      line-height: 1.5;

      a {
        color: $secondary-colour;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;

      div {
        margin-bottom: 15px;

        label {
          margin-bottom: 5px;
          display: block;
          color: #ccc;
        }

        input {
          @include form-input;
        }
      }
    }
  }

  .info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    max-width: 300px;
    line-height: 1.5;

    @media (max-width: 850px) {
      display: none;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 20px;
      color: $secondary-colour;
    }

    p {
      color: #ccc;
    }
  }
}
