#transactions-title {
    color: white;
    font-size: 1.5rem;
    margin: 0;
}
.transaction-details {
    p {
        margin: 0;
        padding: 5px;
        font-size: 1rem;
        line-height: 1.5;
        display: flex;
        justify-content: space-between;
    }
}


