header {
  @include flex-center;
  justify-content: space-between;
  padding: 20px;
  color: white;
  width: 100%;
  flex-wrap: wrap;

  .dropdown-menu-icon {
    color: $secondary-colour;
    cursor: pointer;
  }

  .logo {
    padding: 0;
    margin: 0;

    img {
      max-width: 100%;
    }
  }

  .auth-info {
    display: flex;
    flex-direction: column;
    color: white;
    flex-wrap: wrap;

    h2 {
      margin: 40px 0 20px 0;
    }

    p {
      font-size: 1.25rem;
      margin: 0;
      color: #e5e6e7;
      padding: 5px;

    }


  }

  .desktop-nav {
    display: none;

    ul {
      @include flex-center;
      gap: 1rem;
      padding: 0;
      margin: 0;

      li {
        list-style: none;

        a {
          text-decoration: none;
          color: white;
          cursor: pointer;
        }
      }
    }
  }

  .auth-buttons {
    display: none;
  }

  @include media-breakpoint(768px) {
    max-width: 1400px;
    margin: auto;

    .desktop-nav {
      display: flex;
      flex-wrap: wrap;

      ul {
        font-size: 1.25rem;
        font-weight: 500;
        padding: 0;
        text-align: left;

        a:hover {
          color: #00FFFF;
          transition: ease-in 0.3s;
        }
      }
    }

    .auth-buttons {
      display: flex;
      gap: 1rem;
    }
  }

  @include media-breakpoint(1200px) {
    .desktop-nav ul {
      gap: 2rem;
    }
  }

  @media (max-width: 400px) {
    .logo {
      width: 80%;

      img {
        width: 100%;
      }
    }
  }
}

@media (min-width: 768px) {
  header {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    .auth-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 20px 0;

      h2 {
        margin: 0;
      }
    }
  }
  .dropdown-menu-icon {
    display: none;
  }
}

@media (min-width: 1200px) {

  header {
    padding-bottom: 0;
    
    .auth-info {
      margin-left: auto;
      gap: 20px;
    }
  }  
    }
