.mobile-menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh; 
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%); 
    transition: transform 0.3s ease-in-out; 
    background-image: url('../../assets/images/background-image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &.show {
        transform: translateX(0); 
    }

    .dropdown-menu-card {
        background-color: rgba(89, 162, 158, 0.2);
        border-radius: 8px;
        width: calc(100vw - 40px);
        height: calc(100vh - 40px);
        position: relative;
        z-index: 2;
        text-align: left;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        margin: 20px;

        .close-icon {
            position: absolute;
            top: 15px;
            right: 15px; 
            font-size: 2rem;
            cursor: pointer;
            color: #66FCF1;
            z-index: 3;
        }

        .dropdown-menu-nav {
        margin-top: 60px;

            .dropdown-menu-links {
                list-style-type: none;
                padding: 0;
                margin: 0;

                li {
                    padding: 0 0 40px 40px;

                    a {
                        color: #fff;
                        text-decoration: none;
                        font-size: 1.5rem;

                        &:hover {
                        color: #66FCF1;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 850px) {
    .mobile-menu {
        display: none;
    }
    
}
