.cta-section {
    @include section-base($tertiary-colour, 40px 20px);

    .cta-content {
        @include flex-center;
        flex-direction: column;
        @include container-max-width(1400px);
        @include text-white;
        text-align: center;

        h2 {
            font-size: 2rem;
            margin: 0 0 1.5rem 0;
        }

        .cta-button {
            font-size: 1.25rem;
            @include button-style(transparent, #ffffff, #ffffff, #ffffff, $tertiary-colour);
            border-radius: 8px;
            padding: 10px 20px;
            transition: background-color 0.3s, color 0.3s;
        }
    }

    @include media-breakpoint(768px) {
        @include section-padding(80px 40px);

            .cta-content {
                h2 {
                    font-size: 2.5rem;
                }

            .cta-button {
                font-size: 1.5rem;
                padding: 15px 30px;
            }
        }
    }
}
