.hero-content {
    @include flex-center;
        text-align: left;
        padding: 20px;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        flex-direction: column;

        .left-container, .right-container {
            flex-shrink: 1;
            min-height: 0;
        }

        .left-container {
            width: 100%;
            max-width: 476px;
            padding-bottom: 3rem;
            @include flex-center;
            flex-direction: column;
            align-items: flex-start;
            flex-wrap: wrap;

            h1 {
                font-size: 2.5rem;
                margin-bottom: 1.25rem;
                @include text-white;
                @include box-shadow;
            }

            p {
                font-size: 1rem;
                margin-bottom: 2.5rem;
                @include text-white;
                line-height: 1.5;
                @include box-shadow;
            }

            .hero-buttons {
                width: 100%;
                gap: 1.25rem;
                @include flex-center;
                flex-wrap: wrap;
                justify-content: center;

                .signup, .learn-more {
                    flex: 1;
                }
            }
        }

    .right-container {
        @include flex-center;
        padding-bottom: 5rem;
        flex-wrap: wrap;

        img {
            width: 100%;
            border-radius: 8px;
            @include box-shadow;
        }
    }
}

@include media-breakpoint(1000px) {
    .hero-content {
        flex-direction: row;
        @include container-max-width(1240px);
        padding: 0;
        gap: 20px;

        .left-container, .right-container {
            width: 50%;
            padding: 20px;

            img {
                width: 100%;
            }
        }
    }
}

@include media-breakpoint(1200px) {
    .hero-content {
        justify-content: space-between;
        margin-bottom: 5rem;

        .left-container {
            h1 {
                font-size: 3.6rem;
                margin: 0;
                padding: 0;
            }

            .left-container, .right-container {
                padding: 40px;
                width: 40%;
            }
        }
    }
}

@media (max-height: 760px) {
  .hero-content {
    .left-container {
      padding: 0;

      h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 0.875rem;
        margin-bottom: 1.5rem;
      }
    }

    .right-container {
      padding: 20px 0;

      img {
        padding: 0;
      }
    }
  }
}
