.how-it-works-section {
    @include section-base($tertiary-colour, 20px);
    min-height: 100vh;

    .how-it-works-content {
        @include content-max-width(1200px);
        @include text-white;

        .steps {
            @include content-max-width(auto);

            h2 {
                font-size: 2rem;
                margin-bottom: 1.5rem;
            }

            .step {
                @include flex-center;
                align-items: flex-start;
                gap: 20px;

                .step-icon {
                    width: 40px;
                    height: 40px;
                    @include flex-center;
                }

                .step-info {
                    @include content-max-width(auto);
                    gap: 10px;

                    .step-title {
                        font-size: 1.25rem;
                        margin: 0;
                        padding-top: 10px;
                    }

                    .step-description {
                        font-size: 1rem;
                    }
                }
            }
        }

        .steps-image {
            @include flex-center;

            img {
                max-width: 100%;
                height: auto;
                border-radius: 8px;
                @include box-shadow;
            }
        }
    }

    @include media-breakpoint(768px) {

        .how-it-works-content {
            flex-direction: row;
            align-items: center;

            .steps, .steps-image {
                flex: 1;
            }
        }
    }
}
